<!DOCTYPE html>
<html>
  <head>
    <title>Loan Form</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="app.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="loanForm">  
    <div class="container-fluid">
        <!-- Header Section starts here-->
        <header class="header_bg">
            <div class="header_left"></div>
            <div class="header_right"></div>
            <div class="container">
            <div class="logo_pharma"> <a href="#"><img src="images/logo.png" alt="logo"/></a> </div>
            <div class="banner_text_right"> Blockchain for Business<br>
                <b>WITH IBM BLOCKCHAIN</b> </div>
            </div>
        </header>
        <!-- Header Section ends here-->
        <!-- Content Section ends here-->
        <div class="title_banner">
            <div class="container" style="width:1230px;">&nbsp;
            </div>
        </div>
        <div class="container" style="position: relative; top: -32px;">
            <div class="titlebar">LOAN FORM <img src="images/user_icon.png">
            <div class="dropdown" style="float: right;">
                <button type="button" data-toggle="dropdown">LOAN APPLICANT <span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a href="#" ng-click="Logout()">LOG OUT</a></li>
                </ul>
            </div>
            </div>
            <div class="mojani_form">
            <h2>User Details</h2>
            <div class="block">
            <div class="col-lg-4" >
            <label>Name</label>
            <input type="text" ng-model="name">
            </div>
            <div class="col-lg-4" >
            <label>Aadhar #</label>
            <input type="text" ng-model="aadhar">
            </div>
            <div class="col-lg-4" >
            <label>Email ID</label>
            <input type="text" ng-model="email_id">
            </div>
            <div class="clearfix"></div>
            </div>
            <div class="block">
            <div class="col-lg-4" >
            <label>Mobile #</label>
            <input type="text" ng-model="mobile_number">
            </div>
            <div class="col-lg-4" >&nbsp;</div>
            <div class="col-lg-4" >&nbsp;</div>
            <div class="clearfix"></div>
            </div>
            <h2>Asset Details</h2>
            <div class="block">
            <div class="col-lg-4" >
            <label>Asset Type</label>
            <select ng-model="selectedassetType" placeholder="--Please Select--" ng-options="x for x in assetType"></select>
            </div>
            <div class="col-lg-4" >
            <label>Asset ID</label>
            <input type="text" ng-model="pid">
            </div>
            <div class="col-lg-4" >
            <label>Asset Value</label>
            <input type="text" ng-model="asset_value">
            </div>
            <div class="clearfix"></div >
            </div>
            <h2>Bank Details</h2>
            <div class="block">
            <div class="col-lg-4" >
            <label>Bank Name</label>
            <input type="text" ng-model="bank_name">
            </div>
            <div class="col-lg-4" >
            <label>Branch Name</label>
            <input type="text" ng-model="branch_name">
            </div>
            <div class="col-lg-4" >
            <label>Amount #</label>
            <input type="text" ng-model="acc_number"> 
            </div> 
            <div class="clearfix"></div>
            </div>
            <div class="block">
            <div class="col-lg-10" >&nbsp;</div>
            <div class="col-lg-2" >
            <label>&nbsp;</label>
            <input type="submit" value="Submit" ng-click="DataToDb()">
            </div>
            <div class="clearfix"></div>
            </div>
            </div>
        </div>
    </div>
    <!-- Content Section ends here--> 
      
    <!-- Footer Section starts here-->
    <footer class="footer">©  copyright 2018</footer>
    <!-- Footer Section ends here--> 
    <script>
    $(document).ready(function(){
        $(".dropdown-toggle").dropdown();
    });
    </script>
  </body>
</html>